<head>
    <link href="~/Content/css/Event.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @*<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>*@
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">TeachSpace</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="link-name">Schedule</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="link-name">Reschedule</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="link-name">LogOut</span>
                </a>
            </li>

        </ul>
    </div>

    @*home Content*@
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu'></i>
                <span class="dashboard">Dashboard</span>

            </div>
            <div class="search-box">
                <input type="text" placeholder="Search..." />
                <i class='bx bx-search-alt-2'></i>            
            </div>
            <div class="profile-details">
                <span class="admin-name">Admin</span>
            </div>
        </nav>

    </section>
</body>