
@{
    ViewBag.Title = "Logout";
}
<style>
    .Container-logout {
        margin:auto;
        text-align: center;
        border: 3px solid green;
    }
</style>



<div class="Container-logout">
    <h1>User has been successfully Logged out</h1>

    <h5>Click here to Login Again</h5>
    <ul>
        <li class="btn btn-info btnlogin"><a href="https://localhost:44305/Home/Login">Login</a></li>
    </ul>
</div>