
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/Register.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script defer src="~/Content/Js/Register.js"></script>
</head>
<body>
    <div class="container">
        <form id="signup" class="form">
            <h1>Signup</h1>
            <div class="form-field">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" id="txtFirstName" placeholder="Enter a First Name" autocomplete="off">
                <small></small>
            </div>
            <div class="form-field">
                <label for="lastname">Last Name: </label>
                <input type="text" name="lastname" id="txtLastName" placeholder="Enter a Last Name" autocomplete="off">
                <small></small>
            </div>

            <div class="form-field">
                <label for="email">Email:</label>
                <input type="text" name="email" id="txtEmail" placeholder="Enter a Email" autocomplete="off">
                <small></small>
            </div>

            <div class="form-field">
                <label for="password">Password:</label>
                <input type="password" name="password" id="txtPassword" placeholder="Enter a Passwoord" autocomplete="off">
                <small></small>
            </div>


            <div class="form-field">
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" name="confirmpassword" id="txtConfirmPassword" placeholder="Enter a Confirm Password" autocomplete="off">
                <small></small>
            </div>

            <div class="form-field">
                <label for="address">Address :</label>
                <input type="text" name="address" id="txtAddress" placeholder="Enter a Address" autocomplete="off">
                <small></small>
            </div>

            <div class="form-field">
                <label for="dob">DOB:</label>
                <input type="date" name="dob" id="txtDOB" placeholder="Enter a Date of Birth" autocomplete="off">
                <small></small>
            </div>

            <div class="form-field">
                <input type="submit" class="btn btn-success btn-format" value="Register">
            </div>
            <p></p>
            Already Have an Account ?
            @Html.ActionLink("Login Here", "Login", "Home", new { area = "" }, null)
        </form>

    </div>
    



</body>
</html>