<head>
    <link href="~/Content/css/Schedule.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script defer src="~/Content/Js/Schedule.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @*<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>*@
</head>
<style>
    #TSchedule{
        display:none;
    }
    #schedulecontent {
        display: block;
    }
    .show {
        display: block;
    }

    .hide {
        display: none;
    }
    #TAudit {
        display: none;
    }
    .sidebar .nav-links {
        margin-left:40px;
        margin-top: 16px;
/*        text-align: center;
*/    }
    
</style>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">TeachSpace</span>
        </div>
        <ul class="nav-links">

            <li>
                <button id="btnschedule" class="btn-link" type="submit">Schedule</button>
            </li>
            <li>
                <button id="btnstudentlist"class="btn-link" type="submit">StudentList</button>
            </li>
            <li>
                <button id="btnauditlist" class="btn-link" type="submit">AuditList</button>
            </li>
            @*<li><input id="btnMenu" class="btn-style" type="button" value="Menu" /></li>*@
            @*<li>
            <button id="btnlogout" type="submit">Logout</button>
        </li>*@

            <li class="btn btn-info btnlogin"><a href="https://localhost:44305/Home/Logout">Logout</a></li>

        </ul>
    </div>

    @*home Content*@
<section class="home-section">
   

    <div class="schedule-container" id="schedulecontent">
        <div class="Topic-container">

            <div class="form-content">
                <h4>Schedule An Event</h4>
                <br />
                <form id="myForm">
                    <label for="departmentsDropdown"><b>Email</b></label>
                    <select class="form-control" id="departmentsDropdown" name="departmentsDropdown"></select>
                    <br />
                    <label for="txttopicname"><b>Topic Names</b></label>
                    <select class="form-control" id="txttopicname" name="txttopicname"></select>
                </form>
                <br />
                <div class="form-field">
                    <label for="date">Date</label>
                    <div>
                        <input type="date" name="date" id="txtdate" autocomplete="off">
                    </div>
                </div>
                <br />
                <div class="form-field">
                    <label for="time">Time</label>
                    <div>
                        <input type="time" name="time" id="txttime" autocomplete="off">
                    </div>
                </div>
                <br />
                <label for="mode">Select the Mode:</label>
                <div>
                    <select name="Mode" id="txtmode">
                        <option value="online">Online</option>
                        <option value="offline">Offline</option>
                    </select>
                </div>
                <br />
                <div>
                    <button id="btnsubmitschedule" class="btn btn-success btn-format" type="submit">Schedule</button>
                </div>
                <div id="validation-success">
                    
                </div>
            </div>

            @*<div class="form-content">
                <div class="form-field">
                    <label for="addtopicname">Add Topic Name</label>
                    <div>
                        <input type="text" name="addtopicname" id="txtaddtopicname" placeholder="Enter Topic Name" autocomplete="off">
                    </div>
                </div>
                <div>
                    <button id="btntopicname" type="submit">Submit</button>
                </div>
            </div>*@
        </div>
    </div>

    <div id="TSchedule">
        <table class="schedule-table">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>FirstName</th>
                    <th>Email</th>
                    <th>Topic Name</th>
                    <th>Exam Date</th>
                    <th>Schedule Time</th>
                    <th>Mode</th>
                </tr>
            </thead>
            <tbody id="scheduleList">
                @*<tr id="Load" style="color:red"></tr>*@
            </tbody>
        </table>
    </div>


    <div id="TAudit">
        <table class="schedule-table">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>User Name</th>
                    <th>Operation</th>
                    <th>Topic Name</th>
                    <th>CreatedTime</th>
                </tr>
            </thead>
            <tbody id="auditList">
                @*<tr id="Load" style="color:red"></tr>*@
            </tbody>
        </table>
    </div>

</section>
    
</body>